.pageTitle {
    display: flex;
}

.pageTitleText {
    font-size: x-large;
    margin-left: 30px;
}

/* Text for questions */
.characterQuestions {

}

/* Title of sections */
h3 {

}

/* Answers to questions */
blockquote {
    
}

table {
    font-size: larger;
}

caption {
    font-size: large;
    text-align: left;
}

th {
    text-align: left;
}

td {

}

.picture {
    object-fit: contain;
}